body{
    background-color:cornsilk;
    background-image:url(cartoon-jeep-png-10.png);
    background-repeat:no-repeat;
    background-position:right top;
}

.person_info{
    width: 800px;
    height:150px;
}
.person_image{
    float:left;
    width: 100px;
    height: 100px;
}
.nav{
    font-family:cursive;
  
}



 .username{
    font-size:25px;
    font-family: cursive;
    padding-left: 100px;
    padding-right: 100px;
}


h1{
    font-family:sans-serif;
    font-size:50px;
    color:ivory;
    text-shadow: 5px 5px 0 black;
    background-image:url("CSC-pic2.jpeg");
    height:100px;
    line-height: 100px;
    text-align:center
}
.day-box{
  width: 1000px;
  height:150px;
}
.day-box.PREP div{
  float:left;
  padding-right: 10px;
  padding-bottom: 10px;
 
}

.reading-box{
    width: 450px;
    height: 120px;
    border-left-width:5px;
    border-left-style:solid;
    border-left-color: #754a00;
    padding-left:10px;
    border-right-width:5px;
    border-right-style:solid;
    border-right-color: #754a00;
    background-color: #efcca2;
}
.prep-box{
  padding-left:10px;
}
.day{
    width:150px;
}
.day-box.CURRENT div{
  float:left;
  padding-right: 10px;
  padding-bottom: 10px;
}
.day-box.COMPLETED div{
  float:left;
  padding-right: 10px;
  padding-bottom: 10px;
}
.account_form{
  width:300px;
  padding-top: 10px;
}
.account_form label{
  width:300px;

}
.account_form input{
  width:300px;
}
.account_form div{
  font-family:sans-serif;
  font-size:50px;
  color:ivory;
  text-shadow: 5px 5px 0 black;
  background-image:url("CSC-pic2.jpeg");
  height:100px;
  line-height: 100px;
  text-align:center;
  width: 800px;
 
    
}
table{
  border-top-width:5px;
  border-top-style:solid;
}

table td{
  text-align:center;
  background-color:;
  background-color: #9ba98d;
}
